body {
  background-image: url('../assets/gradient.jpg'); /* adjust path if needed */
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-family: 'Copperplate Gothic Bold', 'Copperplate', fantasy;
  color: lightblue;
}

p {
  color: darkgreen;
  font-family: 'Perpetua', serif;
}

